.front body {
  font-family: @font-family-sans-serif;
}

.front .jumbotron {
  margin-bottom: 0 !important;
}

.front section {
  height: 100%;

  .container, .container-fluid {
    height: 100%;
  }

  .content-wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }

  .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.front .carousel-control {
  background-image: none;
}

.front #home {
  background: url(../images/front.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  font-family: @headings-font-family;

  h1 {
    margin-bottom: 44px;

    small {
      color: @headings-color;
    }
  }

  p {
    margin-bottom: 44px;
  }
}

.front #about {
  .carousel-controls {
    margin-top: 44px;
  }
  #about-headshot {
    border-radius: 240px;
  }
  .jumbotron {
    padding: 0;
  }
  .item {
    // The carousel css positions carousel items absolutely, breaking the full
    // height appearance.
    height: 100%;
  }
  #carousel-about-live {
    background: url('http://maps.googleapis.com/maps/api/staticmap?center=peckham&zoom=12&scale=2&size=1280x1080&maptype=terrain&sensor=false&format=png&visual_refresh=true" alt="Google Map of peckham') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    .content {
      background: rgba(255, 255, 255, 0.85);
    }
    .jumbotron {
      background-color: transparent;
    }
  }
}

.front #contact {
  background-color: #fff;
}
